/* Center the game on the page */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

    background-image: url(https://thumbs.dreamstime.com/b/black-tic-tac-toe-game-icon-isolated-seamless-pattern-white-background-vector-black-tic-tac-toe-game-icon-isolated-seamless-197590372.jpg);
  }
  
  /* Board styles */
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Set fixed width for columns */
    gap: 5px;
    margin-top: 20px;
  }
  
  .board-row {
    display: flex;
  }
  
  .square {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    /* &:hover {
      background-color: transparent;
    } */
  }
  
  /* Status and game-over message styles */
  .status {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .game-over {
    color: #000000;
    font-size: 34px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  /* Replay button styles */
  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(175, 149, 182); /* Green color */
    color: #000000; /* White text color */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: rgb(39, 36, 37); /* Darker green on hover */
    }
  }
  